# macOS system files
.DS_Store

# Hugo build output
/public/
/resources/
/hugo_stats.json
.hugo_build.lock

# IDE / editor
.vscode/
.idea/

# Node or frontend stuff (nếu bạn dùng theme có npm)
node_modules/
package-lock.json
npm-debug.log

# Logs
*.log
